.form {
  display: flex;
  max-width: 420px;
  width: 100%;
}

.form__input {
  height: 48px;
  max-width: 294px;
  width: 100%;
  font-size: 14px;
  line-height: 21px;
  color: #9f9f9f;
  border: 1px solid #e1e1e1;
  padding: 0 16px;
  box-sizing: border-box;
}

.form__btn {
  flex-shrink: 0;
  min-width: 122px;
}

@media (max-width: 768px) {
  .form {
    padding: 0 15px;
    box-sizing: border-box;
  }
}
